CONNECTION_STRING=postgresql://neondb_owner:SomethingINHEREITSDEMOEXAMPLE /neondb?sslmode=require&channel_binding=require
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=this_is_a_very_long_super_secret_key_that_is_32_chars_long
